@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($font-size: 1rem, $font-weight: inherit, $color: currentColor) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
